.title {
    background: gray;
    text-align: center;
}
@media (min-width:320px) {
    .title {
    font-size: 10px;
    }
}
  
@media (min-width:641px) {
    .title {
    font-size: 14px;
    }
}
  
@media (min-width:961px) {
    .title {
    font-size: 18px;
    }
}
  
@media (min-width:1024px) {
    .title {
    font-size: 20px;
    }
}
  
@media (min-width:1281px) {
    .title {
    font-size: 25px;
    }
}